<script>
	import { login, modal, __ } from './stores.js';
	import Modal from './Modal.svelte';
	import { get } from 'svelte/store';
	import MetaMaskImage from './images/metamask.svg';
	import WalletConnectImage from './images/walletconnect.svg';
	import Spinner from 'svelte-spinner';
	import MetaMask from './web3/providers/MetaMask.js';
	import detectEthProvider from '@metamask/detect-provider';

	let status = $__['calltoaction'];
	let showSpinner = false;

	const {
		getLoginMessage,
		verifySignature,
	} = get(login) || {};

	function connect(provider) {

		if (!getLoginMessage || !verifySignature) {
			throw new Error('Web3Login: You must set `getLoginMessage` and `verifySignature` callbacks with `Web3Login.configure(getLoginMessage, verifySignature)` before this can work.');
		}

		status = $__['permission'];

		return provider.enable()
			.then(addresses => {
				status = $__['fetching'];
				return getLoginMessage(addresses);
			})
			.then(([message, address] = []) => {
				if (!message || !address) {
					throw new Error(`Need message and address, got: ${message} + ${address}`);
				}
				status = $__['awaiting'];
				return provider.personalSign(address, message);
			})
			.then(([signedMessage, address] = []) => {
				if (!signedMessage || !address) {
					throw new Error(`Need signedMessage and address, got: ${signedMessage} + ${address}`);
				}
				status = $__['verifying']
				return verifySignature([signedMessage, address, provider]);
			})
			.then(message => {
				if (message) {
					status = message;
				} else {
					status = $__['loggedin'];
				}
			})
			.catch(err => {
				if (typeof err !== 'string') {
					if (err && err.message) {
						err = err.message;
					} else {
						err = $__['aborted'];
					}
				}
				status = err || $__['aborted'];
			});
	}
	async function metamaskLogin(e) {
		e.preventDefault();
		const provider = await detectEthProvider();
		if (!provider) {
			status = $__['nodetect'];
		} else {
			connect(new MetaMask(provider));
		}
	}
	async function walletconnectLogin(e) {
		e.preventDefault();
		showSpinner = true;
		const { default: WalletConnect } = await import('./web3/providers/WalletConnect.mjs');
		showSpinner = false;
		if ($modal) {
			const wc = new WalletConnect();
			connect(wc);
		}
	}
</script>

{#if $modal}
	<Modal on:close={modal.close}>
			<span slot="heading">
				{$__['heading']}
				{#if showSpinner}
					<span class="web3login-spinner"><Spinner size="0.9em"></Spinner></span>
				{/if}
				<span class="web3login-close" on:click|preventDefault={modal.close}>&times;</span>
			</span>

			<p>{status}</p>
			<ul>
				<li><button class="web3login-metamask" title={$__['metamaskButtonTitle']} on:click={metamaskLogin} type='button'>
					<span class="web3login-logo" aria-hidden="true">
						<MetaMaskImage size="1.5em" />
					</span>
					<span>MetaMask</span>
				</button></li>
				{#if window.isSecureContext}
					<li><button class="web3login-walletconnect" title={$__['walletconnectButtonTitle']} on:click={walletconnectLogin} type='button'>
						<span class="web3login-logo" aria-hidden="true">
							<WalletConnectImage size="1.5em" />
						</span>
						<span>WalletConnect</span>
					</button></li>
				{/if}
			</ul>
	</Modal>
{/if}

<style>
	ul {
		margin: auto;
		padding: 0;
	}
	.web3login-spinner {
		display: inline-flex;
	}
	ul {
		list-style: none;
		margin-top: 15px;
		padding-bottom: 15px;
	}
	button {
		padding: 0 1em;
		font-size: 1.2em;
		height: 5em;
		width: 100%;
		margin-top: 1em;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	:global(.web3login-logo svg) {
		width: 30px;
		height: 1.2em;
		padding-right: 0.3em;
		float: left;
	}
	.web3login-close {
		color: dimgray;
		float: right;
		cursor: pointer;
	}
</style>
