<script>
	import { createEventDispatcher, onDestroy } from "svelte";

	const dispatch = createEventDispatcher();
	const close = () => dispatch("close");

	let modal;

	const handle_keydown = (e) => {
		if (e.key === "Escape") {
			close();
			return;
		}

		if (e.key === "Tab") {
			// trap focus
			const nodes = modal.querySelectorAll("*");
			const tabbable = Array.from(nodes).filter((n) => n.tabIndex >= 0);

			let index = tabbable.indexOf(document.activeElement);
			if (index === -1 && e.shiftKey) index = 0;

			index += tabbable.length + (e.shiftKey ? -1 : 1);
			index %= tabbable.length;

			tabbable[index].focus();
			e.preventDefault();
		}
	};

	const previously_focused =
		typeof document !== "undefined" && document.activeElement;

	if (previously_focused) {
		onDestroy(() => {
			previously_focused.focus();
		});
	}
</script>

<style>
	.web3login-modal-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: 1336;
	}

	.web3login-modal-heading {
		font-size: 1.5em;
		font-weight: bold;
	}

	.web3login-modal {
		position: fixed;
		left: 50%;
		top: 50%;
		width: calc(100vw - 4.2em);
		max-width: 22em;
		max-height: calc(100vh - 4.2em);
		overflow: auto;
		transform: translate(-50%, -50%);
		padding: 24px;
		border-radius: 0.2em;
		background: white;
		z-index: 1337;
		color: black;
	}
</style>

<svelte:window on:keydown={handle_keydown} />

<div class="web3login-modal-background" on:click={close} />

<div class="web3login-modal" role="dialog" aria-modal="true" bind:this={modal}>
	<div class="web3login-modal-heading">
		<slot name="heading" />
	</div>
	<div class="web3login-modal-content">
		<slot />
	</div>
</div>
